.header-box{
  width:100%;
  height:60px;
  padding:12px;
  background-color:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:sticky;
  top:0;
  z-index:999;
  .logo-box{
    width:93px;
    height:36px;
    > h1{
      display:inline-block;
      margin-bottom:20px;
    }
  }
  .user-info{
    display:flex;
    align-items:center;
    justify-content:center;
    > div{
      padding:0 10px;
      position:relative;
      &::after{
        content:'';
        width:1px;
        height:12px;
        background-color:#e9e9e9;
        display:inline-block;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:0;
      }
      &:last-of-type{
        padding-right:0;
        &::after{
          display:none;
        }
      }
      &:first-of-type{
        padding-left:0;
      }
    }
    .notice{
      display:flex;
      .notice-view{
        font-size:16px;
        display:flex;
        align-items:center;
        > i{
          width:16px;
          height:16px;
          display:inline-block;
          position:relative;
          margin-right:10px;
          &.new{
            &::after{
              content:'';
              width:6px;
              height:6px;
              display:inline-block;
              border-radius:100%;
              background-color:#ed2f15;
              position:absolute;
              top:0;
              right:0;
            }
          }
          > img{
            width:100%;
          }
        }
      }
    }
    .user-name{
      position:relative;
      > button{
        font-size:16px;
        display:flex;
        align-items:center;
        padding-right:22px;
        position:relative;
        &::after{
          content:'';
          width:16px;
          height:16px;
          display:inline-block;
          position:absolute;
          top:50%;
          transform:translateY(-50%);
          right:4px;
          background:url("./../assets/icon/ico_arr_down.svg") 0 0 / 100% no-repeat;
        }
        > i{
          width:28px;
          height:28px;
          display:inline-block;
          margin-right:6px;
          > img{
            width:100%;
          }
        }
        > span{
          color:#a7a7a6;
          > strong{
            color:#222;
            padding-right:4px;
          }
        }
      }
    }
    .state{
      position:relative;
      .counsel{
        width:auto;
        height:36px;
        line-height:36px;
        padding:0 25px 0 12px;
        display:flex;
        align-items:center;
        justify-content:center;
        border:1px solid #ceebd7;
        background-color:#e7f5eb;
        border-radius:6px;
        box-shadow:2px 2px 8px 0 rgba(54, 59, 66, 0.2);
        > span{
          font-size:16px;
          color:#0b9c38;
          margin-right:8px;
        }
        &::after{
          content:'';
          width:16px;
          height:16px;
          display:inline-block;
          background-color:#0b9c38;
          mask-image:url("./../assets/icon/ico_counsel.svg");
          position:absolute;
          top:50%;
          transform:translateY(-50%);
          right:12px;

        }
        &.end{
          border-color:#f8c9b5;
          background-color:#fdede6;
          > span{
            color:#e94c09;
          }
          &::after{
            background-color:#e94c09;
          }
        }
        &.rest{
          border-color:#d3d3d3;
          background-color:#f4f4f4;
          > span{
            color:#222;
          }
          &::after{
            background-color:#222;
          }
        }
        &.eating{
          border-color:#098a8a;
          background-color:#e6f3f3;
          > span{
            color:#098a8a;
          }
          &::after{
            background-color:#098a8a;
          }
        }
      }
    }
  }
}