.tap-wrap {
    position: relative;
    width: 100%;
    .tab-btn-wrap {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #e9e9e9;
        .tab-btn {
            width: max-content;
            height: 60px;
            padding: 20px;
            position: relative;
            text-align: center;
            > span {
                font-size: 16px;
                color: #4f4e4d;
                margin-right: 4px;
                letter-spacing: -0.27px;
            }
            > em {
                font-size: 15px;
                color: #919190;
            }
            &.active {
                > span {
                    color: #222;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    display: inline-block;
                    background-color: #ffc737;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    > .btn {
        position: absolute;
        top: 9.5px;
        right: 10px;
    }
    &.common {
        .tab-btn-wrap {
            li {
                position: relative;
                border: 0;
                background: #fbfbfb;
                border-radius: 4px 4px 0 0;
                .tab-btn {
                    min-width: 120px;
                    padding: 8px 16px;
                    height: 40px;
                    .tab-btn-tit {
                        color: #4f4e4d;
                        font-weight: 400;
                        font-size: 16px;
                    }
                    &.active {
                        border-left: 1px solid #d3d3d3;
                        border-right: 1px solid #d3d3d3;
                        border-top: 1px solid #d3d3d3;
                        border-bottom: 1px solid #fff;
                        background: #fff;
                        border-radius: 4px 4px 0 0;
                        font-weight: bold;
                        &::after {
                            display: block;
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            z-index: 1;
                        }
                        &:last-child {
                            border-right: 1px solid #d3d3d3;
                        }
                        .tab-btn-tit {
                            color: #222222;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &.entire {
            width: 100%;
            .tab-btn-wrap {
                li {
                    flex: 1;
                    .tab-btn {
                        width: 100%;
                        height: 40px;
                    }
                }
            }
        }
    }
    &.horizon {
        .tab-btn-wrap {
            > li {
                flex: 1 1;
                text-align: center;
            }
            .tab-btn {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                padding: 8px 20px;
                > span {
                    margin-right: 0;
                    font-size: 15px;
                    font-weight: normal;
                }
                > em {
                    font-size: 18px;
                    color: #222;
                    font-weight: bold;
                }
            }
        }
    }
    &.vertical {
        .tab-btn-wrap {
            width: 100%;
            > li {
                flex: 1 1;
                text-align: center;
            }
            .tab-btn {
                width: 100%;
                height: 68px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                > span {
                    margin-right: 0;
                }
                > em {
                    font-size: 18px;
                    color: #222;
                    font-weight: bold;
                }
            }
        }
    }
    &.title-only {
        .tab-btn-wrap {
            > li {
                flex: 1 1;
                text-align: center;
            }
            .tab-btn {
                width: 100%;
            }
        }
    }
}
.common-notice {
    margin: 20px;
}
// template
.template-tab {
    padding: 20px;
    .tap-wrap {
        .tab-btn-wrap {
            .tab-btn {
                height: 40px;
                > em {
                    color: #222222;
                }
            }
        }
    }
}
